asgiref<4,>=3.8.1
SpeechRecognition
PyDub
torch==2.4.1
torchaudio==2.4.1
transformers==4.45.2
librosa
safetensors
regex!=2019.12.17
tokenizers<0.21,>=0.20
fsspec
filelock
pyyaml>=5.1
huggingface-hub<1.0,>=0.23.2
platformdirs>=2.5.0
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17
threadpoolctl>=3.1.0
cffi>=1.0
pycparser
numpy>=1.17
scipy>=1.2.0
scikit-learn>=0.20.0
joblib>=0.14
decorator>=4.3.0
mpmath<1.4,>=1.1.0
sympy
networkx
jinja2
msgpack>=1.0
audioread>=2.1.9
soxr>=0.3.2
lazy-loader>=0.1
safetensors>=0.4.1
tokenizers<0.21,>=0.20
pooch>=1.1
